
.about {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 105px;
    padding-bottom: 100px;
}

.about__box {
    display: flex;
    justify-content: space-around;
}

.about__content {
    width: 35%;
}

.about__title {
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
}

.about__text {
    margin-bottom: 0;
    font-weight: 600;
    color: #929191;
    margin-top: 60px;
    text-align: justify;
}

.button_about {
    margin-top: 57px;
    z-index: 1;
}

.about__image {
    width: 57%;
}

.statistic {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-bottom: 105px;
}

.statistic__box h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.statistic__text {
    margin-top: 15px;
    text-align: center;
}

.statistic__content {
    width: 100%;
    margin-top: 50px;
}

.statistic__item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.stats {
    width: 17%;
    display: flex;
}

.stats__icon {
    bottom: 0;
    left: 0;
    width: 60px;
    height: 100%;
}

.stats__icon i {
    font-size: 35px;
    line-height: 45px;
    color: #fa9e1b;
}

.stats__number {
    font-size: 24px;
    font-weight: 600;
    color: #2d2c2c;
}

.stats__type {
    font-size: 14px;
    font-weight: 600;
    color: #929191;
}

.stats__bar {
    width: 60%;
}

.stats__year {
    width: 55px;
    left: 43%;
    color: #fa9e1b;
    font-weight: bold;
}

.stats__year i {
    font-size: 20px;
    margin-left: 7px;
    top: 50%;
    /* padding-top: 10px */
    position: absolute;
}

.stats__bar1 {
    width: 100%;
    height: 15px;
    border: 1px solid;
    top: 30%;
    border-radius: 25px;
}

.stats__bar2 {
    width: 0;
    top: -1px;
    height: 14px;
    border-radius: 25px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    -webkit-transition: width 4.5s ease !important;
    -moz-transition: width 4.5s ease !important;
    -o-transition: width 4.5s ease !important;
    transition: width 4.5s ease !important;
}
