/* 
.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 2;
   
}

.main__slide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    z-index: 10;
    background: #31124b;
    height: 100vh;
}

.home_slide__item {
    display: none;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    align-items: center;
}

.home_slide__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
}

.home_slider__content {
    display: flex;
    grid-column: 4/10;
    justify-content: center;
    z-index: 11;
}

.home_slider__content h1:first-child {
    font-size: 112px;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
}

.home_slider__content h1:nth-child(2) {
    font-family: "Beyond";
    font-size: 100px;
    color: #FFFFFF;
    word-spacing: 15px;
}

.home_slider_content_inner {
    font-size: 14px;
    text-align: center;
    animation-duration: 3s;
    animation-delay: 0.3s;
}

.home_slider__button {
    margin-top: 70px;
} */

.main_slide__nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 11;
    cursor: pointer;
    font-size: 45px;
    color: #ffffff;
    opacity: 0.5;
}

.nav__prev {
    left: 50px;
}

.nav__prev:hover {
    color: orange;
    opacity: 1;
}

.nav__next {
    right: 50px;
}

.nav__next:hover {
    color: orange;
    opacity: 1;
}

.main_slide__dots {
    position: absolute;
    right: 50px;
    bottom: 45px;
    z-index: 10;
}

.customs_dot {
    display: inline-block;
    position: relative;
    height: 35px;
    line-height: 35px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.active {
    border-radius: 25px;
    border: solid 2px #FFFFFF;
    padding-left: 13px;
    padding-right: 9px;
    margin-right: 3px;
}

.customs_dot:hover {
    color: orange;
}

.box {
    grid-column: 2/12;
}








.main_intro {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2/12;
    justify-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.main_intro h2 {
    text-align: center;
    color: #000000;
}

.main_intro p {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: black;
    line-height: 1.336;
    margin-bottom: 0;
}

.main_intro__items {
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
}

.intro_item {
    width: 28%;
    height: 425px;
}

.intro_item__backgroud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.intro_item__content {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.intro_date {
    position: absolute;
    top: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto;
    padding-left: 39px;
    padding-right: 39px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 27px;
    background: #fa9e1c;
    border-radius: 14px;
}

.intro_button {
    position: absolute;
    bottom: 51px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.intro_text {
    text-align: center;
    top: 40%;
}

.intro_text h1 {
    color: #FFffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.05rem;
}

.intro_price {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: -4px;
}

.rating {
    margin-top: 10px;
}

.rating i {
    font-size: 19px;
    margin-right: 4px;
}

.rating i:last-child {
    margin-right: 0;
}

.rating_1 i:first-child {
    color: #ffeb8d;
}

.rating_2 i:first-child {
    color: #ffeb8d;
}

.rating_2 i:nth-child(2) {
    color: #fed46b;
}

.rating_3 i:first-child {
    color: #ffeb8d;
}

.rating_3 i:nth-child(2) {
    color: #fed46b;
}

.rating_3 i:nth-child(3) {
    color: #fbb53d;
}

.rating_4 i:first-child {
    color: #ffeb8d;
}

.rating_4 i:nth-child(2) {
    color: #fed46b;
}

.rating_4 i:nth-child(3) {
    color: #fbb53d;
}

.rating_4 i:nth-child(4) {
    color: #fa9e1b;
}

.rating_5 i:first-child {
    color: #ffeb8d;
}

.rating_5 i:nth-child(2) {
    color: #fed46b;
}

.rating_5 i:nth-child(3) {
    color: #fbb53d;
}

.rating_5 i:nth-child(4) {
    color: #fa9e1b;
}

.rating_5 i:nth-child(5) {
    color: #ef910a;
}

.main_offers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 105px;
    padding-bottom: 43px;
    background: #f3f6f9;
    
}

.offers_title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    margin-top: -8px;
    text-transform: uppercase;
}

.offers_items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.offers_item {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.offers_image {
    width: 45%;
}

.offers_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offers_name {
    position: absolute;
    left: 0;
    bottom: 27px;
    width: 180px;
    height: 33px;
    background: #fa9e1b;
    overflow: hidden;
}

.offers_name a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 22px;
}

.offers_content {
    width: 45%;
}

.offers_price {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}

.offers_text {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-top: 16px;
    text-align: justify;
}

.offers_icons {
    margin-top: 17px;
}

.offers_icons_item {
    display: inline-block;
    margin-right: 15px;
}

.offers_link {
    margin-top: 20px;
}

.offers_link a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.offers_link a:hover {
    color: orange;
}

.main_testimonials {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.main_testimonials__box h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    margin-top: 20px;
    text-transform: uppercase;
}

.test_item {
    padding: 30px;
}

.test_item_box {
    padding-top: 36px;
}

.test_image img {
    width: 100%;
}

.test_icon {
    position: absolute;
    top: 0px;
    left: 41px;
    width: 72px;
    height: 72px;
    background: #fa9e1b;
    border-radius: 50%;
    overflow: hidden;
}

.test_icon img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
}

.test_content_container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44.1%;
    background: rgba(49, 18, 75, 0.8);
}

.test_content {
    width: 100%;
    height: 100%;
    padding-left: 38px;
    padding-top: 44px;
    padding-right: 40px;
}

.test_item_info {
    position: absolute;
    left: 41px;
    bottom: calc(100% - 18px);
    background: #FFFFFF;
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 9px;
    padding-bottom: 10px;
    z-index: 10;
}

.test_name {
    font-size: 14px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
}

.test_date {
    font-size: 11px;
    margin-top: 2px;
    color: #2d2c2c;
    padding-left: 2px;
}

.test_quote_title {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 3px;
}

.test_quote_text {
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 11px;
}

.main_hotel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 105px;
    padding-bottom: 50px;
}

.main_hotel_title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    margin-top: -8px;
    text-transform: uppercase;
}

.hotel_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.hotel_item {
    width: 25%;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
}

.hotel_image {
    width: 82px;
    height: 76px;
}

.hotel_image img {
    width: 100%;
}

.hotel_content {
    padding-left: 10px;
}

.hotel_title {
    margin-top: -5px;
}

.hotel_title a {
    font-size: 16px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.hotel_price {
    font-size: 14px;
    font-weight: 700;
    color: #fa9e1b;
    margin-top: 2px;
}

.hotel_location {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    text-transform: uppercase;
    margin-top: 5px;
}
