/* 
.main__slide_offers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    z-index: 10;
    background: #31124b;
    height: 465px;
}

.home__content {
    position: absolute;
    bottom: 106px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.home__title {
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    white-space: nowrap;
}
.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 2;
   
}

.main__slide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    z-index: 10;
    background: #31124b;
    height: 100vh;
}

.home_slide__item {
    display: none;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    align-items: center;
}

.home_slide__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
} */

/* .main_offers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 105px;
    padding-bottom: 43px;
    background: #f3f6f9;
    
} */

.offers_title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    margin-top: -8px;
    text-transform: uppercase;
}

.offers_items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.offers_item {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.offers_image {
    width: 45%;
}

.offers_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offers_name {
    position: absolute;
    left: 0;
    bottom: 27px;
    width: 180px;
    height: 33px;
    background: #fa9e1b;
    overflow: hidden;
}

.offers_name a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 22px;
}

.offers_content {
    width: 45%;
}

.offers_price {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}

.offers_text {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-top: 16px;
    text-align: justify;
}

.offers_icons {
    margin-top: 17px;
}

.offers_icons_item {
    display: inline-block;
    margin-right: 15px;
}

.offers_link {
    margin-top: 20px;
}

.offers_link a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.offers_link a:hover {
    color: orange;
}

.main_testimonials {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.offers {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-bottom: 120px;
}

.offers_sorting_container {
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
}

.offers_sorting li {
    display: inline-block;
    position: relative;
    width: 166px;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    border: solid 2px #dadada;
    padding-left: 25px;
    padding-right: 14px;
    margin-right: 16px;
}

.offers_sorting li i {
    float: right;
    line-height: 48px;
    color: #929191;
}

.offers_sorting li ul {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.offers_sorting li ul li {
    display: block;
    border: 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 25px;
}

.offers_sorting li ul li:hover {
    color: #929191;
}

.distance_item {
    width: 234px !important;
}

.offers_grid {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.offers_item2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.f_image {
    width: 33.33% !important;
}

.book_button {
    background: #31124b;
    margin-top: 39px;
    margin-bottom: -5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.book_button:hover {
    background: #fa9e1b;
}

.offer_reviews {
    position: absolute;
    top: 0;
    right: 0;
}

.offer_reviews_content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.offer_reviews_title {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
}

.offer_reviews_subtitle {
    font-size: 12px;
    font-weight: 600;
    color: #929191;
    margin-top: 1px;
}

.offer_reviews_rating {
    display: inline-block;
    width: 62px;
    height: 57px;
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 57px;
    background: #fa9e1b;
    vertical-align: middle;
    border-radius: 45%;
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
}

