
.booking {
  grid-column: 2/12;
  margin-top: 100px;
  width: 700px;
}
.main-booking  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 2;
  }
  .main_offers-booking {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 80px;
    padding-bottom: 43px;
    background: white;
    margin: 0 100px;
  }
  .left_main{
    width: 600px;
    margin-top: 46px;
    margin-left: 20px;
    /* margin-right: 20px; */
  }
  .offers_title-booking {
    text-align: start;
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    margin-top: -8px;
    text-transform: uppercase;
  }
  
  .offers_items-booking {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .offers_item-booking {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  
  .offers_image-booking {
    width: 50%;
  }
  
  .offers_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
  }
  .booking-form {
    /* background-color: #ffffff; */
    padding-top: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
    /* width: 400px; */
    box-sizing: border-box;
}

.booking-form h2 {
    margin: 0 0 20px 0;
    /* text-align: center; */
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* .booking-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.booking-form button:hover {
    background-color: #555;
}
  .offers_name-booking {
    position: absolute;
    left: 0;
    bottom: 27px;
    width: 180px;
    height: 33px;
    background: #fa9e1b;
    overflow: hidden;
  }
  .offers_name-booking a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 22px;
  }
  
  .offers_content-booking {
    margin-left: 2%;
    width: 48%;
  }
  
  .offers_price-booking {
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    color: #eda84a;
    line-height: 40px;
  }
  

  .offers_link-booking {
    margin-top: 20px;
    margin-left: 20px;
  }
  .offers_link-booking a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  
  .offers_link a:hover {
    color: orange;
  }
  
.booking-details {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tour-info img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.tour-info p {
  width: 200px;

}
.tour-info, .contact-info-booking {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  /* background-color: #f2f2f2; */
}
.contact-info-booking{
  width: 90%;
  /* display: inline-block; */
}
.tour-info label {
  display: block;
  margin-bottom: 10px;
}

.tour-info input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
 
}

.tour-info input[readonly] {
  background-color: #e9e9e9;
}
h2, h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  /* font-weight: 500; */
  color: #000000;
}

label {
  display: block;
  margin-bottom: 10px;
   color: #000000;
}

input[type="radio"] {
  margin-right: 5px;
}



#payment-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#payment-btn:hover {
  background-color: #388E3C;
}
.offers_title-bookingnosignin {
  /* margin-left: -200px; */
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  margin-top: -8px;
  text-transform: uppercase;
}