@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');





.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar-seller{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar-seller::-webkit-scrollbar{
    display: none;
}

.sidebar-seller.close{
    width: 60px;
}

.sidebar-seller .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
  
}

.sidebar-seller .logo .logo-name span{
    color: var(--dark);
}

.sidebar-seller .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar-seller .side-menu-seller{
    width: 100%;
    margin-top: 48px;
}

.sidebar-seller .side-menu-seller li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar-seller .side-menu-seller li.active-seller{
    background: var(--grey);
    position: relative;
}

.sidebar-seller .side-menu-seller li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar-seller .side-menu-seller li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar-seller .side-menu-seller li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar-seller .side-menu-seller li.active a{
    color: var(--success);
}

.sidebar-seller.close .side-menu-seller li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar-seller .side-menu-seller li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar-seller .side-menu-seller li a.logout{
    color: var(--danger);
}

.content-seller{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar-seller.close~.content-seller{
    width: calc(100% - 60px);
    left: 60px;
}

.content-seller nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content-seller nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content-seller nav a{
    color: var(--dark);
}

.content-seller nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content-seller nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content-seller nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content-seller nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content-seller nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content-seller nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1000px;
}

/* Còn theme sáng tôí */

.content-seller main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content-seller main .header-seller{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content-seller main .header-seller .left-seller h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content-seller main .header-seller .left-seller .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content-seller main .header-seller .left-seller .breadcrumb li{
    color: var(--dark);
}

.content-seller main .header-seller .left-seller .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content-seller main .header-seller .left-seller .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content-seller main .header-seller .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content-seller main .insights-seller{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content-seller main .insights-seller li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content-seller main .insights-seller li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-seller main .insights-seller li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content-seller main .insights-seller li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content-seller main .insights-seller li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content-seller main .insights-seller li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content-seller main .insights-seller li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content-seller main .insights-seller li .info p{
    color: var(--dark);
}
/* <!-- End of Insights --> */
.content-seller main .bottom-data-seller{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content-seller main .bottom-data-seller>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content-seller main .bottom-data-seller .header-seller{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content-seller main .bottom-data-seller .header-seller h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content-seller main .bottom-data-seller .header-seller .bx{
    cursor: pointer;
}

.content-seller main .bottom-data-seller .orders-seller{
    flex-grow: 1;
    flex-basis: 500px;
}

.content-seller main .bottom-data-seller .orders-seller table{
    width: 100%;
    border-collapse: collapse;
}

.content-seller main .bottom-data-seller .orders-seller table th{
    padding-bottom: 10px;
    font-size: 15px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content-seller main .bottom-data-seller .orders-seller table td{
    padding: 15px 0;
    font-size: 14px;
    border-bottom: 1px solid var(--grey);
}
/* 
.content-seller main .bottom-data-seller .orders-seller table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
} */

.content-seller main .bottom-data-seller .orders-seller table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

.content-seller main .bottom-data-seller .orders-seller table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
   
}

.content-seller main .bottom-data-seller .orders-seller table tbody tr:hover{
    background: var(--grey);
}

.content-seller main .bottom-data-seller .orders-seller table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content-seller main .bottom-data-seller .orders-seller table tr td .status.completed{
    background: var(--success);
}

.content-seller main .bottom-data-seller .orders-seller table tr td .status.process{
    background: var(--primary);
}

.content-seller main .bottom-data-seller .orders-seller table tr td .status.pending{
    background: var(--warning);
}

.content-seller main .bottom-data-seller .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content-seller main .bottom-data-seller .reminders .task-list{
    width: 100%;
}

.content-seller main .bottom-data-seller .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-seller main .bottom-data-seller .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content-seller main .bottom-data-seller .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content-seller main .bottom-data-seller .reminders .task-list li .bx{
  cursor: pointer;  
}

.content-seller main .bottom-data-seller .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content-seller main .bottom-data-seller .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content-seller main .bottom-data-seller .reminders .task-list li:last-child{
   margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .sidebar-seller{
        width: 200px;
    }

    .content-seller{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content-seller nav form .form-input input{
        display: none;
    }

    .content-seller nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content-seller nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content-seller nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content-seller nav form.show~.notif, .content-seller nav form.show~.profile{
        display: none;
    }

    .content-seller main .insights-seller {
        grid-template-columns: 1fr;
    }

    .content-seller main .bottom-data-seller .header-seller{
        min-width: 340px;
    }

    .content-seller main .bottom-data-seller .orders-seller table{
        min-width: 340px;
    }

    .content-seller main .bottom-data-seller .reminders .task-list{
        min-width: 340px;
    }

}
/* account checkbox switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--success);
}

input:checked + .slider:before {
    transform: translateX(26px);
}
/* button edit delete */
.btn {
    align-items: center;
    font-size: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.edit-btn {
    background-color: #388E3C;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: #8599f0;
}

.delete-btn {
    background-color: #DC3545;
}

.delete-btn:hover {
    background-color: #cc9a06;
}
.huy-btn {
    margin-top: 5px;
    background-color: #DC3545;
    font-size: 13px;
    width: 85px;
}
.huy-btn:hover {
    background-color: #cc9a06;
}
.bx {
    margin-right: 8px;
}

/* Modal styles */
/* Modal styles */
.modal-seller {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto; 
    z-index: 100;
}

.modal-content-seller {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #222;
}

.dong-btn{
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.dong-btn:hover {
    color: #222;
}

h2 {
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="file"] {
    font-size: 16px;
    margin-bottom: 20px;
}
.btnluu{
    background-color: var(--success);
    margin: 5px 0;
}
.btnxoa{
    background-color: var(--danger);
}
button {
    background-color: var(--light);
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: #0056b3;
}

button:not(:last-of-type) {
    margin-right: 10px;
}
.btn.add-new-btn {
    background-color: var(--success);
    padding: 10px 20px;
    
   
border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn.add-new-btn:hover {
    
   
background-color: #45a049;
}

/* noi dung tour */
#noidungTour{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   
}
/* icon heart request_tour */
.content-seller main .bottom-data-seller .orders-seller table td .bxs-location-plus{
    color: red;

}
/* icon đã kết thúc request_tour */
.content-seller main .bottom-data-seller .orders-seller table td .bx-time-five{
    color: red;
}

.content-seller main .bottom-data-seller .orders-seller table td .bx{
font-size: 15px;
}

/* **** QUAN LY HÓA ĐƠN-BILL MANAGE **** */
/* icon quan ly hoa don- bill manage */
.content-seller main .bottom-data-seller .orders-seller table td .datethanhtoantruoc{
    color: red;
}
.content-seller main .bottom-data-seller .orders-seller table td .bx-loader{
    color: #007BFF;
}
/* nút xem chi tiết */
.xem-btn {
    background-color: transparent;
    font-size: 14px;
    color: black;
    border: 1px solid #363949 ;
    border-radius: 20%;
}
.xem-btn:hover{
    background-color: #8599f0 ;
}
/* nút xác nhận */
.btn-xacnhan{
    background-color: #388E3C;
    font-size: 14px;
}
.btn-xacnhan:hover{
    background-color:#8599f0  ;
}
/* nút hủy đơn */
.content-seller main .bottom-data-seller .orders-seller table td .bx-x-circle{
    font-size: 22px;
}
.btn-huydon{
    background-color: transparent;
    font-size: 14px;
    color: black;
}
.btn-huydon:hover{
    background-color: rgb(236, 106, 106);
}

.chat-container-seller {
    margin-top: 20px;
    /* width: 900px; */
    height: 500px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.user-list-seller {
    width: 300px;
    border-right: 1px solid #ccd0d5;
    background-color: #f7f7f8;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.user-list-header-seller {
    padding: 12px 20px;
    background-color:#f7f7f8;
    color: #040404;
    /* border-bottom: 1px solid var(--border-color); */
    position: relative;
}
.chat-header-seller {
    padding: 12px 20px;
    background-color:#f7f7f8;
    color: #040404;
    /* border-bottom: 1px solid #ccd0d5; */
    position: relative;
}
.search-input-sellerchat {
    width: 90%;
    padding: 8px 12px;
    margin: 12px auto;
    border: 1px solid #e4e6eb;
    border-radius: 18px;
    outline: none;
}

.user-list-seller ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.user-list-seller li {
    padding: 12px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
}

.user-list-seller li:hover {
    background-color: #e4e6eb;
}

.user-list-seller li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.chat-box-seller {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f8;
}

.chat-messages-seller {
    flex: 1;
    overflow-y: auto;
    padding: 10px 20px;
    border-bottom: 1px solid #ccd0d5;
    position: relative;
}

.chat-input-seller {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input-seller input {
    width: 80%;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid #e4e6eb;
    outline: none;
}

.chat-input-seller button {
    padding: 8px 16px;
    border: none;
    background-color: #0084ff;
    color: #fff;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat-input-seller button:hover {
    background-color: darken(#0084ff, 10%);
}

/* Tin nhắn */
.message-seller {
    padding: 8px 15px;
    border-radius: 18px;
    display: inline-block;
    margin: 4px;
    transition: background-color 0.3s;
    font-weight: 500;
    clear: both;
    width: auto; /* Đặt chiều ngang cố định là 300px */
    height: auto; /* Đặt chiều cao tự động dựa trên nội dung */
    box-sizing: border-box; /* Đảm bảo rằng padding và border được tính vào tổng chiều ngang và chiều dài */
}

.message-seller.sent {
    background-color: #0084ff;
    color: #fff;
    float: right;
    border-bottom-right-radius: 2px;
    margin-right: 20px;
}

.message-seller.received {
    background-color: #e4e6eb;
    float: left;
    border-bottom-left-radius: 2px;
    margin-left: 20px;
}